p {
    margin-top: 9px;
    font-size: 23px;
    text-align: center;
}

.material-icons {
    font-size: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}