.list-container {
    padding: 40px 50px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin-bottom: 16px;
        }
    }

    .divider {
        margin-bottom: 25px;
    }
}

.content {
    padding: 40px 40px;

    table {
        width: 100%;
    }
    
    .mat-form-field {
        font-size: 18px;
        width: 30%;
    }
    
    td, th {
        width: 25%;
    }
}